<template>
      <section>
                <div class="navbar-wrapper navbar-sticky">
                <div class="hero-head">

                    <div class="container">
                        <nav class="nav">
                            <div class="nav-left">
                                <nuxt-link class="nav-item" to="/">
                                    <img class="brand" src="~/assets/images/logos/fresh.svg" alt="Description">
                                </nuxt-link>
                                <!-- <a id="panel-trigger" href="#left-panel" class="nav-item nav-inner hamburger-btn" @click.prevent>
                                    <span class="menu-toggle">	
                                        <span class="icon-box-toggle"> 	
                                            <span class="rotate">
                                                <i class="icon-line-top"></i>
                                                <i class="icon-line-center"></i>
                                                <i class="icon-line-bottom"></i> 
                                            </span>
                                        </span>
                                    </span>
                                </a> -->
                            </div>
                            <span class="nav-toggle">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                            <div class="nav-right nav-menu">
                                <nuxt-link to="/" class="nav-item is-tab nav-inner">
                                    Features
                                </nuxt-link>
                                <nuxt-link to="/pricing" class="nav-item is-tab nav-inner">
                                    Pricing
                                </nuxt-link>
                                <div class="nav-item is-drop">
                                    <a class="nav-item is-tab nav-inner-xs">
                                        Dropdown
                                    </a>
                                    <span class="drop-caret"><i class="fa fa-angle-down"></i></span>
                                    <div class="dropContain">
                                        <div class="dropOut">
                                            <div class="triangle"></div>
                                            <ul>
                                                <li>Dropdown item</li>
                                                <li>Dropdown item</li>
                                                <li>Dropdown item</li>
                                                <li>Dropdown item</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <span class="nav-item">
                                    <a class="button cta is-large rounded secondary-btn raised">
                                        Sign up
                                    </a>
                                </span>
                            </div>
                        </nav>
                    </div>

                </div>
            </div>
        </section>
</template>
