<template>
  <section class="section is-medium">
      <div class="container has-text-centered">
          <h1 class="title">
              About me
          </h1>
          <p>
              My Name is Chaiwud.T (Aka Art), I’m a self taught software developer based in Thailand. 
              I build modern applications for the web! I'm a technical writer, 
              I write technical articles and tutorials for various platforms including 
          </p>
      </div>
  </section>
</template>
