<template>
  <div>
        <!-- <div id="preloader"><div id="status"></div></div> -->
        <section class="hero is-fullheight is-default is-bold is-slanted">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="columns is-vcentered" style="padding-top:60px;">
                        <div class="column is-4 is-offset-1 has-text-left">
                            <h1 class="big-title">
                                Manage, Deploy.
                            </h1>
                            <h2 class="subtitle is-5">Lorem ipsum sit dolor amet is a dummy text used by typography industry </h2>
                            <br>
                            <p class="has-text-left">
                                <a class="button cta is-large rounded primary-btn raised">
                                    Get Started
                                </a>
                            </p>
                        </div>
                        <div class="column is-5 is-offset-2">
                            <figure class="image is-4by3">
                                <!--img src="http://placehold.it/800x600" alt="Description"-->
                                <img src="~/assets/images/illustrations/worker.svg" alt="Description">
                            </figure>
                        </div>

                    </div>
                </div>
            </div>

            <div class="hero-foot mb-20">
                <div class="container">
                    <div class="tabs is-centered">
                        <ul>
                            <li><a><img class="partner-logo" src="~/assets/images/logos/clients/systek.svg"></a></li>
                            <li><a><img class="partner-logo" src="~/assets/images/logos/clients/tribe.svg"></a></li>
                            <li><a><img class="partner-logo" src="~/assets/images/logos/clients/kromo.svg"></a></li>
                            <li><a><img class="partner-logo" src="~/assets/images/logos/clients/infinite.svg"></a></li>
                            <li><a><img class="partner-logo" src="~/assets/images/logos/clients/gutwork.svg"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-light-grey is-medium">
            <div class="container">
                <div class="title-wrapper huge-pb">
                    <h2 class="title section-title has-text-centered pb-20">Great power comes with great Responsability</h2>
                    <h3 class="subtitle is-5 has-text-centered">Lorem ipsum sit dolor amet is a dummy text used by typography industry </h3>
                </div>

                <div class="columns mt-80">
                    <div class="column is-one-third">
                        <div class="feature-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
                            <div class="card-title">
                                <h4>Online App builder</h4>
                            </div>
                            <div class="card-icon">
                                <img src="~/assets/images/illustrations/icons/mouse-globe.svg">
                            </div>
                            <div class="card-text">
                                <p>This is some explanatory text that is on two rows</p>
                            </div>
                            <div class="card-action">
                                <a href="#" class="button btn-align-md primary-btn raised">Free Trial</a>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="feature-card is-bordered has-text-centered revealOnScroll delay-2" data-animation="fadeInLeft">
                            <div class="card-title">
                                <h4>Cloud deployment</h4>
                            </div>
                            <div class="card-icon">
                                <img src="~/assets/images/illustrations/icons/laptop-cloud.svg">
                            </div>
                            <div class="card-text">
                                <p>This is some explanatory text that is on two rows</p>
                            </div>
                            <div class="card-action">
                                <a href="#" class="button btn-align-md primary-btn raised">Get Started</a>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="feature-card is-bordered has-text-centered revealOnScroll delay-3" data-animation="fadeInLeft">
                            <div class="card-title">
                                <h4>Pluggable tools</h4>
                            </div>
                            <div class="card-icon">
                                <img src="~/assets/images/illustrations/icons/plug-cloud.svg">
                            </div>
                            <div class="card-text">
                                <p>This is some explanatory text that is on two rows</p>
                            </div>
                            <div class="card-action">
                                <a href="#" class="button btn-align-md primary-btn raised">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

       

        <section class="section section-feature-grey is-medium">
            <div class="container">

                <div class="columns">
                    <div class="column is-10 is-offset-1">
                        <div class="has-text-centered">
                            <img class="pushed-image" src="~/assets/images/illustrations/mockups/app-mockup.png">
                        </div>
                    </div>
                </div>

                <div class="title-wrapper pb-40">
                    <h2 class="title section-title has-text-centered pb-20">One Platform to rule them All</h2>
                    <h3 class="subtitle is-5 has-text-centered">Lorem ipsum sit dolor amet is a dummy text used by typography industry </h3>
                </div>

                <p class="has-text-centered">
                    <a class="button cta is-large rounded secondary-btn raised">
                        Get Started
                    </a>
                </p>
            </div>
        </section>

        <section class="section is-medium section-secondary">
            <div class="container">

                <div class="title-wrapper pb-40">
                    <h2 class="title is-2 section-title has-text-centered light-text pb-20">Our Clients love us !</h2>
                    <h3 class="subtitle is-5 has-text-centered light-text">Lorem ipsum sit dolor amet is a dummy text used by typography industry </h3>
                </div>

                <div class="columns is-vcentered mt-40">
                    <div class="column is-4">
                        <figure class="testimonial">
                            <blockquote>
                                Lorem ipsum dolor sit amet, elit deleniti dissentias quo eu, hinc minim appetere te usu, ea case duis scribentur has. Duo te consequat elaboraret, has quando suavitate at.
                            </blockquote>
                            <div class="author">
                                <img src="~/assets/images/illustrations/faces/1.png" alt=""/>
                                <h5>Irma Walters</h5><span>Accountant</span>
                            </div>
                        </figure>
                    </div>
                    <div class="column is-4">
                        <figure class="testimonial">
                            <blockquote>
                                Lorem ipsum dolor sit amet, elit deleniti dissentias quo eu, hinc minim appetere te usu, ea case duis scribentur has. Duo te consequat elaboraret, has quando suavitate at.
                            </blockquote>
                            <div class="author">
                                <img src="~/assets/images/illustrations/faces/2.png" alt=""/>
                                <h5>John Bradley</h5><span>Financial Analyst</span>
                            </div>
                        </figure>
                    </div>
                    <div class="column is-4">
                        <figure class="testimonial">
                            <blockquote>
                                Lorem ipsum dolor sit amet, elit deleniti dissentias quo eu, hinc minim appetere te usu, ea case duis scribentur has. Duo te consequat elaboraret, has quando suavitate at.
                            </blockquote>
                            <div class="author">
                                <img src="~/assets/images/illustrations/faces/3.png" alt=""/>
                                <h5>Gary Blackman</h5><span>HR Manager</span>
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-light-grey is-medium">
            <div class="container">
                <div class="title-wrapper huge-pb">
                    <h2 class="title section-title has-text-centered pb-20">Drop us a line or two !</h2>
                    <h3 class="subtitle is-5 has-text-centered">Lorem ipsum sit dolor amet is a dummy text used by typography industry </h3>
                </div>

                <div class="columns mt-80">
                    <div class="column is-6 is-offset-3">
                        <form>
                            <div class="columns is-multiline">
                                <div class="column is-6">
                                    <input class="input is-medium" type="text" placeholder="Enter your Name">
                                </div>
                                <div class="column is-6">
                                    <input class="input is-medium" type="email" placeholder="Enter your Email">
                                </div>
                                <div class="column is-12">
                                    <textarea class="textarea" rows="10" placeholder="Write someting ..."></textarea>
                                </div>
                                <div class="form-footer has-text-centered mt-10">
                                    <button class="button cta is-large primary-btn raised is-clear">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>


        <footer class="footer footer-dark">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <div class="footer-logo">
                            <img src="~/assets/images/logos/fresh-white.svg">
                        </div>
                    </div>
                    <div class="column">
                        <div class="footer-column">
                            <div class="footer-header">
                                <h3>Product</h3>
                            </div>
                            <ul class="link-list">
                                <li><a href="#">Discover features</a></li>
                                <li><a href="#">Why choose our Product ?</a></li>
                                <li><a href="#">Compare features</a></li>
                                <li><a href="#">Our Roadmap</a></li>
                                <li><a href="#">Request features</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="column">
                        <div class="footer-column">
                            <div class="footer-header">
                                <h3>Docs</h3>
                            </div>
                            <ul class="link-list">
                                <li><a href="#">Get Started</a></li>
                                <li><a href="#">User guides</a></li>
                                <li><a href="#">Admin guide</a></li>
                                <li><a href="#">Developers</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="column">
                        <div class="footer-column">
                            <div class="footer-header">
                                <h3>Blogroll</h3>
                            </div>
                            <ul class="link-list">
                                <li><a href="#">Latest News</a></li>
                                <li><a href="#">Tech articles</a></li>
                                <li><a href="#">Video Blog</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="column">
                        <div class="footer-column">
                            <div class="footer-header">
                                <h3>Follow Us</h3>
                                <nav class="level is-mobile">
                                    <div class="level-left">
                                        <a class="level-item">
                                            <span class="icon"><i class="fa fa-github"></i></span>
                                        </a>
                                        <a class="level-item">
                                            <span class="icon"><i class="fa fa-dribbble"></i></span>
                                        </a>
                                        <a class="level-item">
                                            <span class="icon"><i class="fa fa-facebook"></i></span>
                                        </a>
                                        <a class="level-item">
                                            <span class="icon"><i class="fa fa-twitter"></i></span>
                                        </a>
                                        <a class="level-item">
                                            <span class="icon"><i class="fa fa-bitbucket"></i></span>
                                        </a>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>


        <!-- Back To Top Button -->
        <div id="backtotop"><a href="#"></a></div>

        <!-- Left Sidebar -->
        <!-- <div id="left-panel">
            <div class="left-menu-wrapper">
                <div class="panel-header">
                    <img class="panel-logo" src="~/assets/images/logos/fresh-square.svg">
                    <div id="panel-close" class="delete is-medium" style="float:right"></div>
                </div>
                <div class="menu">
                    <p class="menu-label">
                        <i class="im im-icon-Cloud"></i> Menu title
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a class="side-menu-item is-expandable">Menu item <i class="sl sl-icon-arrow-down end-icon"></i></a>
                            <ul class="sidebar-submenu" style="display:none;">
                                <li><a href="#" class="side-menu-subitem">Subitem</a></li>
                                <li><a href="#" class="side-menu-subitem">Subitem</a></li>
                                <li><a href="#" class="side-menu-subitem">Subitem</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="side-menu-item is-expandable">Menu item <i class="sl sl-icon-arrow-down end-icon"></i></a>
                            <ul class="sidebar-submenu" style="display:none;">
                                <li><a href="#" class="side-menu-subitem">Subitem</a></li>
                                <li><a href="#" class="side-menu-subitem">Subitem</a></li>
                                <li><a href="#" class="side-menu-subitem">Subitem</a></li>
                            </ul>
                        </li>
                    </ul>
                    <p class="menu-label">
                        <i class="im im-icon-Security-Block"></i> Menu title
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a class="side-menu-item is-expandable">Menu item <i class="sl sl-icon-arrow-down end-icon"></i></a>
                            <ul class="sidebar-submenu" style="display:none;">
                                <li><a href="#" class="side-menu-subitem">Subitem</a></li>
                                <li><a href="#" class="side-menu-subitem">Subitem</a></li>
                                <li><a href="#" class="side-menu-subitem">Subitem</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="side-menu-item is-expandable">Menu item <i class="sl sl-icon-arrow-down end-icon"></i></a>
                            <ul class="sidebar-submenu" style="display:none;">
                                <li><a href="#" class="side-menu-subitem">Subitem</a></li>
                                <li><a href="#" class="side-menu-subitem">Subitem</a></li>
                                <li><a href="#" class="side-menu-subitem">Subitem</a></li>
                            </ul>
                        </li>
                    </ul>
                    <p class="menu-label">
                        <i class="im im-icon-Two-Windows"></i> Menu title
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a class="side-menu-item is-expandable">Menu item <i class="sl sl-icon-arrow-down end-icon"></i></a>
                            <ul class="sidebar-submenu" style="display:none;">
                                <li><a href="#" class="side-menu-subitem">Subitem</a></li>
                                <li><a href="#" class="side-menu-subitem">Subitem</a></li>
                                <li><a href="#" class="side-menu-subitem">Subitem</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="side-menu-item is-expandable">Menu item <i class="sl sl-icon-arrow-down end-icon"></i></a>
                            <ul class="sidebar-submenu" style="display:none;">
                                <li><a href="#" class="side-menu-subitem">Subitem</a></li>
                                <li><a href="#" class="side-menu-subitem">Subitem</a></li>
                                <li><a href="#" class="side-menu-subitem">Subitem</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div> -->
        <!-- /Left Sidebar -->
    </div>
</template>

<script>
export default {
  components: {}
};
</script>

<style>

</style>
