<template>
  <section class="section is-medium has-text-centered">
      <h1 class="title">
          My Project
      </h1>
      <p>
          Some of my project can be found on 
          <a href="https://github.com/artdvp" target="_blank">GitHub</a>.
      </p>
  </section>
</template>
